.container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: LightSteelBlue;
}

html, body {
  background-color: GhostWhite;
  margin: 10px;
}

.container > div:nth-child(1n) {
  background-color: MediumSeaGreen;	
}

.container > div:nth-child(3n) {
  background-color: MediumVioletRed;
}

.container > div:nth-child(2n) {
      background-color: MediumOrchid;
}

.container > div:nth-child(4n) {
      background-color: MidnightBlue;
}